.body
{
	background-image:url("https://img.peerspace.com/image/upload/c_crop,g_custom/g_auto,c_fill,q_auto,f_auto,fl_progressive:steep,dpr_2,w_1024,h_450/jgca7vp694ogpg89qr1u")
	
	}





.logo
{
	text-align: left;
	font-size: 40px;
	position: absolute;
	top:0%;
	left:2%;
	padding: 0;
	
}


.button
{
	position: absolute;
	top:50%;
	left:50%;
	text-align: center;
	background-color: lightblue;
}


.tagline
{
	text-align: center;
	position: absolute;
	top:25%;
	left:45%;
	font-size: 80px;
	color:darkblue;
}