*
{
	box-sizing: border-box;
}


.container
{
	width: 100%;
	
}

.backgroundimage
{
/*background-color: #5CDB95; */
background-image: url("https://wallpaperstudio10.com/static/wpdb/wallpapers/1000x563/176509.jpg"); 
background-repeat: no-repeat;
background-size: 1500px 800px;
}
  
body
{
	font-family: sans-serif;
/*	background:
radial-gradient(black 15%, transparent 16%) 0 0,
radial-gradient(black 15%, transparent 16%) 8px 8px,
radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
background-color:#282828;
background-size:16px 16px;*/
/*background-image: url("http://www.pptbackgrounds.org/uploads/wood-processing-backgrounds-wallpapers.jpg");
*/
overflow-y: scroll;
}



/* NAVIGATION BAR */
.s1
{	box-sizing: border-box;
	padding: 1em;
	color:white;
	/*background-color:rgb(237,231,219);*/
	/*background-image: url("file:///Users/harrysehrawat/Downloads/vintage-concrete/vintage-concrete.png");
	*/
  clear:left;
	height: auto;
}


/* MakerSpace Logo */
.logo
{
font-size: 30px;



}


/* Navigation Bar Items */
.nav-ul
{font-family: sans-serif;
font-size: 16px;
color:#05386B;
text-transform: uppercase;
font-weight: 400;
padding:26px !important;
transition: all 0.2s;
list-style: none;
padding-top: 10px;
position: absolute;
left:25%;
top:0%;
text-shadow: -0.5px 0 black, 0 0.5px black, 0.5px 0 black, 0 -0.5px black;
}

.li1,.li2,.li3,.li4,.li5,.li6,.li7,.li8,.li9
{
	float: left;
	padding-left: 10px;
	padding-right: 10px;
	display: block;
	cursor: pointer;

}

.li1:hover,.li2:hover,.li3:hover,.li4:hover,.li5:hover,.li6:hover,.li7:hover,.li8:hover,.li9:hover
{background-color: grey;

}

.li2dropdown,.li3dropdown,.li4dropdown,.li5dropdown
{
	display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
   
    overflow: auto;
    }

.li2dropdown a,.li3dropdown a,.li4dropdown a,.li5dropdown a
{
	
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.li2:hover .li2dropdown,.li3:hover .li3dropdown,.li4:hover .li4dropdown,.li5:hover .li5dropdown
{
	display: block;
}



/* For both tagline and Slideshow */
.row
{
content: "";
display: table;
clear: both;
}


* {box-sizing:border-box}
body {font-family: Verdana,sans-serif;margin:0}
.mySlides {display:none}



/* Slideshow container */
.content
{
	
	float: left;
	width:50%;
	height: 700px;
}

.slideshow-container {
	box-sizing: border-box;

  margin: 10px 10px 10px 10px; 
  background:
radial-gradient(black 15%, transparent 16%) 0 0,
radial-gradient(black 15%, transparent 16%) 8px 8px,
radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
background-color:#282828;
background-size:16px 16px;

}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}


/* Items on the right hand side of the slideshow */
.tagline
{
	width: 50%;
	text-align: center;
	float: left;
	height:700px;
	color:#C3073F;
 font-family:"Comic Sans MS" 

}

.tagline-position
{
	position: absolute;
	top: 35%;
  padding:25px 25px 5px 5px;
  margin:10px 10px 10px 10px;
}	


/* Makerspace information */
.whatismakerspace
{
  font-family:courier; 
	
	
	background-color: pink;
		content: "";
	clear: both;
	display: table;
  border:1px solid green;
  
}

.whatismakerspacecontainer
{
  padding:25px 25px 5px 5px;
  margin:10px 300px 10px 300px;
  text-align: center;
  height:200px; 
  
}

.explorebutton
{
  font-size: 20px;
  border-radius: 5px;
  background-color: grey;
  cursor: pointer;
  font-style: italic;
}

.arrow
{
  position: absolute;
  left:50%;
  width:10px;
  height:10px;
  -webkit-transform: translateX(-50%) rotate(45deg);
transform: translateX(-50%) rotate(45deg);
  vertical-align: baseline;
  box-sizing: border-box;
  display: block;
  background-color: pink;

}

.membership
{
  
  text-align: center;
  background-color: white;
  height: 500px;
  width: 100%;
  content: "";
  clear: both;
  display: table;

}

.membershipbox1,.membershipbox2,.membershipbox3,.membershipbox4
{
	float: left;
	width: 25%;
	height: 50px;
	background-color: grey;
}

.stats
{
	text-align: center;
	background-color: white;
	height: auto;
	width: 100%;
	content: "";
	clear: both;
	display: table;
}

.statsbox1,.statsbox2,.statsbox3
{
	float: left;
	width: 30%;
	height: 200px;
	background-color: grey;
  padding: 5px 5px 5px 5px;
  margin: 10px 10px 10px 10px;
}

.footer
{ 	box-sizing: border-box;
	background-color: white;
    width: 100%;
    position:relative;
   
    left: 0px;
    text-align: center;
    
}